In [9]:
import pandas as pd
import numpy as np
import wrangle_model as wrangle
import matplotlib.pyplot as plt
import seaborn as sns

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import explained_variance_score
from sklearn.model_selection import train_test_split

In [6]:
golf = pd.read_clipboard()

In [7]:
golf.head()

  POS       PLAYER  R1  R2  R3  R4  TOTAL SCORE TOTAL PAR
0   1  S Scheffler  69  67  71  71          278       -10
1   2    R McIlroy  73  73  71  64          281        -7
2  T3      S Lowry  73  68  73  69          283        -5
3  T3      C Smith  68  74  68  73          283        -5
4   5   C Morikawa  73  70  74  67          284        -4

In [8]:
golf.to_csv('golf.csv')

In [28]:
golf.dtypes

pos             object
player          object
r1               int64
r2               int64
r3               int64
r4               int64
total_score      int64
total_par       object
baseline       float64
dtype: object

In [29]:
golf.isna().sum()

pos            0
player         0
r1             0
r2             0
r3             0
r4             0
total_score    0
total_par      0
baseline       0
dtype: int64

In [26]:
golf.columns = golf.columns.str.lower().str.replace(" ","_")

In [35]:
golf.to_csv('golf.csv')

In [25]:
golf['baseline'] = golf.total_score.mean()

In [32]:
def split_data(df, train_size=0.7, val_size=0.15, test_size=0.15, random_state=None):
    """
    Splits a pandas DataFrame into three sets: train, validation, and test.
    
    Args:
        df (pandas.DataFrame): The DataFrame to split.
        train_size (float): The proportion of the data to use for the training set. Default is 0.7.
        val_size (float): The proportion of the data to use for the validation set. Default is 0.15.
        test_size (float): The proportion of the data to use for the test set. Default is 0.15.
        random_state (int): The random seed to use for the train-test split.
        
    Returns:
        Tuple of three pandas DataFrames: (train, val, test)
    """
    # First, split the data into train and test sets
    train_val, test = train_test_split(df, test_size=test_size, random_state=random_state)
    
    # Next, split the train_val set into train and validation sets
    train, val = train_test_split(train_val, test_size=val_size/(train_size+val_size), random_state=random_state)
    
    return train, val, test

In [42]:
train, val, test = split_data(golf,random_state=21)

In [43]:
train.shape, val.shape, test.shape

((36, 9), (8, 9), (8, 9))

In [44]:
train.columns

Index(['pos', 'player', 'r1', 'r2', 'r3', 'r4', 'total_score', 'total_par',
       'baseline'],
      dtype='object')

In [45]:
X_train = train.drop(columns=['baseline','total_score','pos','player','total_par'])
y_train = train['total_score']
X_val = val.drop(columns=['baseline','total_score','pos','player','total_par'])
y_val = val['total_score']
X_test = test.drop(columns=['baseline','total_score','pos','player','total_par'])
y_test = test['total_score']

In [ ]:
X_tr